<div class="modal fade" id="download-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
      </div>
      <div class="modal-body download-modal-body">
        <h1 class="title">Almost there!</h1>
        <div class="info">Fill-in your email in order to start the download.</div>
        <form id="file-download-form">
          <div class="row">
            <div class="col-sm-offset-1 col-sm-5 form-group email-holder">
              <div>
                <input type="email" name="email" id="email" class="form-control input-lg email-input" placeholder="Enter your email">
              </div>
            </div>
            <div class="col-sm-5">
              <button type="submit" class="download-button btn-file-send">
                <i class="fa fa-download padding-right-10"></i> Download the file
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
