<nav role="navigation">
    <div class="wrapper">
        <a class="reconfirm-logo" href="https://app.reconfirm.it"><span>Reconfirm.it</span></a>
        <ul id="main-menu" class="nav-collapse closed">
            {{#foreach navigation}}
                <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}"><a href="{{url absolute="true"}}">{{label}}</a></li>
            {{/foreach}}
        </ul>
    </div>
</nav>