
/* Every post, on every page, gets this style on its <article> tag */

// Post preview
.posts-container{
  .post{
    position: relative;
    background-color: #fff;
    min-height: 1px;
    max-width: 710px;
    margin: 20px auto;
    padding: 25px;
    word-wrap: break-word;
    display: inline-block;
    background-color: #fff;
    .post-header{
      .post-date {
        display: block;
        font-size: 10px;
        font-weight: 600;
        color: #aaabb5;
        padding-top: 50px;
      }
      .post-title{
        height: 70px;
        font-size: 22px;
        margin: 0 0 20px 0;
        a{
          font-weight: bold;
          color: #000;
          text-decoration: none;
        }
      }
    }
  }
  .header-line{
    top: 60px;
    border: 1px solid @extended-color-10;
    position: relative;
    z-index: 10;
  }
  .post-excerpt p {
      font-size: 12px;
      line-height: 16px;
      color: @gray-mid-dark;
      height: 145px;
      text-align: justify;
      overflow: hidden;
      margin: 0;
  }
}

// Post page
.post-template{
  .post-tag{
    border-radius: 20px;
    padding: 7px 17px;
    &:before{
      font-size: 1.9rem;
    }
    .tag-bubble{
      font-size: 1.3rem;
    }
  }
}

// Post tag
.post-tag{
  position: absolute;
  z-index: 130;
  border-radius: 15px;
  padding: 3px 13px;
  text-transform: uppercase;
  color: #FFF;
  font-size: 1rem;
  font-weight: bold;
  background-color: gray;
  &:before{
    font-family: FontAwesome;
    font-size: 1rem;
  }
  .tag-bubble{
    padding-left: 5px;
    a{
      color: #fff;
    }
  }
}

.tag-tips-and-tricks{
  .post-tag{
    background-color: @extended-color-5;
    &:before{
      content: "\f0eb";
    }
  }
}
.tag-tutorials{
  .post-tag{
    background-color: @extended-color-8;
    &:before{
      content: "\f004";
    }
  }
}
.tag-case-study{
  .post-tag{
    background-color: @extended-color-9;
    &:before{
      content: "\f02d";
    }
  }
}
