@import "_variables.less";

.search-container{
	background: #fff;

	form{
		display: block;
		width: 55%;
		margin: 0 auto;
		padding: 50px 0;
		text-align: center;

		.search-header{
			display: block;
			margin-bottom: 35px;
			color: @gray-dark;
			font-size: 25px;
			font-weight: 600;
		}
		.homepage-search-input{
			padding: 10px 20px;
			width: 100%;
		}
		.glyphicon{
			line-height: 50px;
			  color: @gray-light;
		}
	}
}

.search-page{
	.no-results{
		width: 100%;
		max-width: 1200px;
		height: 100px;
		margin-top: 30px;
		text-align: center;
		color: @gray-dark;
		font-size: 25px;
		font-weight: 600;
	}
}
